.top {
    margin-top: 100px;
}

h1 {
    color: #2d2e32;
    font-family: Arial;
    font-weight: bold;
}

h2 {
    color: #2d2e32;
    font-family: Arial;
    font-weight: bold;
}

p {
    background-color: #fff;
    color: #555555;
    font-family: Poppins, sans-serif;
}

section {
    margin-left: 80px;
}

div {
    display: inline-block;
}

img {
    float: right;  
    margin-left: 140px;
    margin-top: 110px;
    border-radius: 10px;
}