.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}
  
.footer div {
  display: flex;
  gap: 10px;
  align-items: center; 
}
  
.footer div svg {
  color: white; 
  background-color: black;
  border-radius: 50%;
  padding: 5px;
}
  
.footer p {
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}
  
.footer div:last-child {
  margin-top: 10px;
}
