/* Home.css */

.home {
    text-align: left;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }
  
  .logo-container {
    margin-right: 20px; 
  }
  
  .text-container {
    margin-right: 20px;
  }
  
  .title {
    font-family: Arial;
    font-weight: bold;
    color: #2d2e32;
    font-size: 40px;
  }
  
  .description {
    background-color: #fff;
    color: #555555;
    font-family: Poppins, sans-serif;
    font-size: 20px;
  }
  
  .img {
    object-fit: cover;
    width: 100%;
    max-width: 300px;
    border-radius: 60px;
    margin-left: 50px; /* Add margin to the left for the gap */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  .logo {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-top: 50px; /* Play around with this value to get the right adjustment */
}
