.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 100vh;
  }
  
  .project-box {
    display: flex;
    flex-direction: column; /* Change flex-direction to column */
    align-items: center;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto 0;
  }
  
  .project-container a {
    margin-top: 10px; 
    margin-bottom: 10px;
    font-family: Arial;
    font-weight: bold;
    color: #2d2e32;
    font-size: 40px;
  }

  .Project-title:hover {
    opacity: 0.6;
  }
  
  .gamePicture {
    width: 350px;
    height: 200px;
    object-fit: cover;
  }
  
  .project-details {
    margin-top: 10px;
  }
  
  .title3 {
    font-family: Arial;
    font-weight: bold;
    color: #2d2e32;
    font-size: 40px;
    margin-top: 80px;
  }

  .second-title {
    font-family: Arial;
    font-weight: bold;
    color: #2d2e32;
    font-size: 20px;
  }

  .project-container p {
    color: #555555;
    font-family: Poppins, sans-serif;
    font-size: 17px;
  }

  .bottom {
    margin-bottom: 50px;
  }